<header class="header">
    <div class="container-header">
        <!-- Título completo -->
        <h1 class="full-title">JSONPlaceholder</h1>
        <!-- Título reducido -->
        <h1 class="short-title">JSON</h1>
        <button class="menu-toggle" aria-label="Toggle navigation" (click)="toggleMenu()">
            ☰
        </button>
        <nav class="container-nav" [class.show]="isMenuOpen">
            <a routerLink="">Home</a>
            <a routerLink="/posts">Posts</a>
            <a routerLink="/photos">Photos</a>
        </nav>
    </div>
</header>

<section class="container-inicio">
    <div class="container inicio">
        <h2>Que es JsonPlaceholder</h2>
        <p>Es una herramienta para simular una API REST, proporcionando datos ficticios para pruebas y desarrollo.</p>
        <a class="button-inicio" href="https://jsonplaceholder.typicode.com/" target="_blank">Mas info</a>
    </div>
</section>

